# Register repetead key strokes faster
xset r rate 210 40

# set 144hz
xrandr --output DP-0 --mode 1920x1080 --rate 144

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# Environment vars set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="firefox"
